
#home {
       background-image: url('../img/star-background.png');
}
    
   
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 100%;
	max-width: 936px;
}

.starmap {
    margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
    background-image: url('../img/star-map.png');
    max-width:960px;
    height:2249px;

}


    
#nebra {
    max-width: 100%;
	}




/* constellation links*/

#scorpiuslink {
    position:absolute;
    margin-top:73px;
    margin-left:50px;
}

#sagittariuslink {
    position:absolute;
    margin-top:63px;
    margin-left:430px;
   
}


#aquilalink {
    position:absolute;
    margin-top:393px;
    margin-left:600px;
    
}  
    
#herculeslink {
    position:absolute;
    margin-top:310px;
    margin-left:180px;
    }
   
    #lyralink {
    position:absolute;
    margin-top:550px;
    margin-left:450px;
   
   }

  #cygnuslink {
    position:absolute;
    margin-top:620px;
    margin-left:530px;
   
    }

 #dracolink {
    position:absolute;
    margin-top:690px;
    margin-left:290px;
   
   }

 #majorlink {
    position:absolute;
    margin-top:860px;
    margin-left:70px;
    
   }

 #minorlink {
    position:absolute;
    margin-top:880px;
    margin-left:370px;
    }

 #pegasuslink {
    position:absolute;
    margin-top:705px;
    margin-left:730px;
        }

 #andromedalink {
    position:absolute;
    margin-top:1000px;
    margin-left:630px;
}
 
#leolink {
    position:absolute;
    margin-top:1150px;
    margin-left:20px;
   }

#perseuslink{
    position:absolute;
    margin-top:1100px;
    margin-left:440px;
    
    }

#geminilink {
    position:absolute;
    margin-top:1280px;
    margin-left:280px;
   
    }

#tauruslink {
    position:absolute;
    margin-top:1180px;
    margin-left:580px;
   
   }

#orionlink {
    position:absolute;
    margin-top:1440px;
    margin-left:449px;
       }

#canislink {
    position:absolute;
    margin-top:1560px;
    margin-left:10px;
      }


.wrapper {
    min-height:200px;
    padding:10px;
    align-content:right;
    margin-right:10%;   
  }


#button {
    float:left;
    margin-right:50px;
    margin-top:80px;
    width:180px;
}

#textbox { 
    overflow:hidden;
    margin:10px;
    min-height:170px;
    max-width:600px;
}


.backbuttonmobile {
    display:none;}


/* ------------ mobile layout -------------- */

@media only screen and (max-width: 800px) {
/* Style adjustments for small screens */

	/* remove margins */
	
#home{
        background-image:none;
         background-color:#2D2B60;}
	
.starmap{
    background-image: none;
   
   }

#scorpiuslink {
   position:static;
    margin-left:5%;
    padding:0px;
    max-width:inherit;
    display:block;
    
    }

#sagittariuslink {
    position:static;
    margin-left:10%;
    clear:both; 
    }


#aquilalink {
   position:static;
    margin-left:10%;
    clear:both; 
    }
    
#herculeslink {
    position:static;
    margin-left:5%;
    clear:both; 
    }

    #lyralink {
    position:static;
    margin-left:10%;
    clear:both; 
    }

  #cygnuslink {
    position:static;
    margin-left:5%;
    clear:both; 
    }

 #dracolink {
     position:static;
    margin-left:10%;
    clear:both; 
    }

 #majorlink {
     position:static;
    margin-left:5%;
    clear:both; 
    }

 #minorlink {
    position:static;
    margin-left:10%;
    clear:both; 
    }

 #pegasuslink {
   position:static;
    margin-left:10%;
    clear:both; 
    }

 #andromedalink {
     position:static;
    margin-left:10%;
    clear:both; 
    }

#leolink {
    position:static;
    margin-left:10%;
    clear:both; 
    }

#perseuslink{
     position:static;
    margin-left:10%;
    clear:both; 
    }

#geminilink {
    position:static;
    margin-left:10%;
    clear:both; 
    }

#tauruslink {
     position:static;
    margin-left:10%;
    clear:both; 
    }

#orionlink {
    position:static;
    margin-left:5%;
    clear:both; 
    }
#canislink {
    position:static;
    margin-left:5%;
    clear:both; 
    }

.container {
		width: 100%;
		margin-top:10px;
		padding: 0 1em 0 1em;
		border: none;
}

#textbox {
      float:left;
      margin-left:5%;
     clear:both;
    width:auto;       
}

#button div {
    display:none
}

.backbutton {
    display:none}


.backbuttonmobile {
    display:block;
    width:40%;
}

.wrapper {
    padding:0px;}

h1{
    font-size:120%;
    font-weight:bold;}
p{
    font-size:80%;}


